*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: aqua;
    font-family: consolas;
     /* display: flex; */
    /* justify-content: center; */
    /* align-items: center;  */
}
p{
    font-size: 3.5rem;
}
.main-menu{
    margin-top: 2rem;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: chartreuse;
    height: 25rem;
    width: 20rem;
    border-radius: 2rem;
    box-shadow: 1rem 1rem 0.1rem black;
}
input.button{
    border-radius: 2rem;
    height: 3.4rem;
    width: 3.4rem;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.1rem black;
    font-size: 2rem;
}
input.maths-button{
    background-color: gray;
    border-radius: 2rem;
    height: 3.4rem;
    width: 3.4rem;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.1rem black;
    font-size: 2rem;
}
input.display{
    border-radius: 1rem;
    margin:0.1rem 0.1rem 0.1rem 0.5rem ;
    background-color: none;
    height: 3.5rem;
    width: 19rem;
    box-shadow: 0.2rem 0.2rem 0.1rem black;
    font-size: 1.5rem;
    text-align: right;
}
input.button-C{
    background-color: rgb(248, 34, 34);
    border-radius: 2rem;
    height: 3.4rem;
    width: 3.4rem;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.1rem black;
    font-size: 2rem;
}
input.button-equal{
    background-color: rgb(19, 182, 194);
    border-radius: 2rem;
    height: 3.4rem;
    width: 3.4rem;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.1rem black;
    font-size: 2rem;
}
input.maths-button:hover,.button-C:hover,.button-equal:hover,.button:hover{
    background-color: rgb(183, 179, 179);
}
